In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 64 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 69.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=f23fc94ad8847019b46f3e6de054cac22cdd505c4ccd7e8bec3bcfc03422c4a3
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os
path = "" 
os.chdir(path)

In [5]:
os.listdir()

['Customer-details.xlsx',
 'Order-details.xlsx',
 'Sales-details.xlsx',
 'Region-details.xlsx',
 'Product-details.xlsx',
 'Lab02 - Dashboard in PowerBI .docx',
 'Lab02 - Dashboard in PowerBI.pbix',
 'Dashboard.png',
 'Lab02 - Dashboard in PowerBI 2.pbix',
 'Customer-details.csv',
 'Order-details.csv',
 'Product-details.csv',
 'Region-details.csv',
 'Sales-details.csv']

In [6]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('SparkSQL').getOrCreate()

In [7]:
spark

In [8]:
customer = spark.read.option('header','true').option("delimiter", ";").csv('Customer-details.csv')
customer.show()

+-----------+------------------+
|Customer ID|     Customer Name|
+-----------+------------------+
|   CG-12520|       Claire Gute|
|   WG-45983|      Henry Stalin|
|   DV-13045|   Darrin Van Huff|
|   SO-20335|    Sean O'Donnell|
|   BH-11710|   Brosina Hoffman|
|   AA-10480|      Andrew Allen|
|   IM-15070|      Irene Maddox|
|   HP-14815|     Harold Pawlan|
|   PK-19075|         Pete Kriz|
|   AG-10270|   Alejandro Grove|
|   ZD-21925|Zuschuss Donatelli|
|   KB-16585|         Ken Black|
|   SF-20065|   Sandra Flanagan|
|   EB-13870|       Emily Burns|
|    RV-8346|        Matt Damon|
+-----------+------------------+

In [9]:
order = spark.read.option('header','true').option("delimiter", ";").csv('Order-details.csv')
order.show()

+--------------+----------+
|      Order ID|Order Date|
+--------------+----------+
|CA-2016-152156|08-11-2017|
|CA-2016-138688|12-06-2017|
|US-2015-108966|11-01-2019|
|CA-2014-115812|09-05-2019|
|CA-2017-114412|15-04-2017|
|CA-2016-161389|05-12-2017|
|US-2015-118983|22-11-2018|
|CA-2014-105893|11-11-2018|
|CA-2014-167164|13-05-2018|
|CA-2014-143336|27-08-2018|
|CA-2014-143452|20-02-2019|
|CA-2016-137330|09-12-2018|
|US-2016-137330|20-12-2017|
|US-2017-156909|16-07-2018|
|CA-2015-106320|25-04-2019|
+--------------+----------+

In [10]:
sale = spark.read.option('header','true').option("delimiter", ";").csv('Sales-details.csv')
sale.show()

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount| Cost |
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-152156|   CG-12520|       1|FUR-BO-10001798|       1|122261|     200|       0|120000|
|CA-2016-138688|   WG-45983|       2|FUR-CH-10000454|       2|173100|     389|       0|170000|
|US-2015-108966|   DV-13045|       3|OFF-LA-10000240|       3| 98652|     422|       0| 92000|
|CA-2014-115812|   SO-20335|       4|FUR-TA-10000577|       4| 95700|     501|    0.45| 90000|
|CA-2017-114412|   BH-11710|       5|FUR-FU-10001487|       5|223682|     290|     0.2|215000|
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|       0|485000|
|US-2015-118983|   IM-15070|       7|OFF-BI-10002215|       7|728202|     450|       0|728202|
|CA-2014-105893|   HP-14815|       8|OFF-AP-10001492|       8|907152|     650|     0.2|890000|
|CA-2014-167164|   PK-19075|       9|FUR-CH-10002774|       9|180504|     320|     0.2|170000|
|CA-2014-143336|   AG-10270|      10|FUR-TA-10000577|      10|114900|     560|       0|108900|
|CA-2014-143452|   ZD-21925|      11|TEC-AC-10003027|      11|170684|     900|     0.2|150000|
|CA-2016-137330|   KB-16585|      12|FUR-BO-10004834|      12|911424|     410|     0.2|908500|
|US-2016-137330|   SF-20065|      13|FUR-FU-10004848|      13|155520|     305|     0.2|140000|
|US-2017-156909|   EB-13870|      14|OFF-EN-10001509|      14|407976|     310|     0.2|400976|
|CA-2015-106320|    RV-8346|      15|OFF-AR-10004042|      15|688100|     540|     0.8|680100|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

In [128]:
product = spark.read.option('header','true').option("delimiter", ";").csv('Product-details.csv')
product.show()

+---------------+---------------+------------+--------------------+
|     Product ID|       Category|Sub-Category|        Product Name|
+---------------+---------------+------------+--------------------+
|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|
|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|
|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|
|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|
|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|
|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...|
|OFF-BI-10002215|Office Supplies|     Binders|Wilson Jones Hang...|
|OFF-AP-10001492|Office Supplies|  Appliances|Acco Six-Outlet P...|
|FUR-CH-10002774|      Furniture|      Chairs|Global Deluxe Sta...|
|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|
|TEC-AC-10003027|     Technology| Accessories|Imation 8GB Mini ...|
|FUR-BO-10004834|      Furniture|   Bookcases|Riverside Palais ...|
|FUR-FU-10004848|      Furniture| Furnishings|"Howard Miller 13...|
|OFF-EN-10001509|Office Supplies|   Envelopes|Poly String Tie E...|
|OFF-AR-10004042|Office Supplies|         Art|BOSTON Model 1800...|
+---------------+---------------+------------+--------------------+

In [12]:
region = spark.read.option('header','true').option("delimiter", ";").csv('Region-details.csv')
region.show()

+--------+-------------+--------------+
|Place ID|         City|         State|
+--------+-------------+--------------+
|       1|    Henderson|      Kentucky|
|       2|  Los Angeles|    California|
|       3|  Los Angeles|    California|
|       4|      Concord|North Carolina|
|       5|      Seattle|    Washington|
|       6|   Fort Worth|         Texas|
|       7|      Madison|     Wisconsin|
|       8|  West Jordan|          Utah|
|       9|San Francisco|    California|
|      10|      Fremont|      Nebraska|
|      11|      Fremont|      Nebraska|
|      12| Philadelphia|  Pennsylvania|
|      13|         Orem|          Utah|
|      14|  Los Angeles|    California|
|      15| Philadelphia|  Pennsylvania|
+--------+-------------+--------------+

In [13]:
display(customer)
display(product)
display(order)
display(sale)
display(region)

DataFrame[Customer ID: string, Customer Name: string]

DataFrame[Product ID: string, Category: string, Sub-Category: string, Product Name: string]

DataFrame[Order ID: string, Order Date: string]

DataFrame[Order ID: string, Customer ID: string, Place ID: string, Product ID: string, Sales ID: string, Sales: string, Quantity: string, Discount: string, Cost : string]

DataFrame[Place ID: string, City: string, State: string]

#Data Type Conversion

In [15]:
from pyspark.sql.types import DateType
from pyspark.sql.types import StringType, FloatType, IntegerType
from pyspark.sql import functions as F

In [16]:
order = order.withColumn("Order Date", F.to_date(F.unix_timestamp('Order Date', 'dd-MM-yyyy').cast('timestamp')))
order.show()

+--------------+----------+
|      Order ID|Order Date|
+--------------+----------+
|CA-2016-152156|2017-11-08|
|CA-2016-138688|2017-06-12|
|US-2015-108966|2019-01-11|
|CA-2014-115812|2019-05-09|
|CA-2017-114412|2017-04-15|
|CA-2016-161389|2017-12-05|
|US-2015-118983|2018-11-22|
|CA-2014-105893|2018-11-11|
|CA-2014-167164|2018-05-13|
|CA-2014-143336|2018-08-27|
|CA-2014-143452|2019-02-20|
|CA-2016-137330|2018-12-09|
|US-2016-137330|2017-12-20|
|US-2017-156909|2018-07-16|
|CA-2015-106320|2019-04-25|
+--------------+----------+

In [17]:
# Because Cost have blank space in name so we need to rename Cost to remove space
sale = sale.withColumnRenamed("Cost ", "Cost")
sale.show()
display(sale)

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-152156|   CG-12520|       1|FUR-BO-10001798|       1|122261|     200|       0|120000|
|CA-2016-138688|   WG-45983|       2|FUR-CH-10000454|       2|173100|     389|       0|170000|
|US-2015-108966|   DV-13045|       3|OFF-LA-10000240|       3| 98652|     422|       0| 92000|
|CA-2014-115812|   SO-20335|       4|FUR-TA-10000577|       4| 95700|     501|    0.45| 90000|
|CA-2017-114412|   BH-11710|       5|FUR-FU-10001487|       5|223682|     290|     0.2|215000|
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|       0|485000|
|US-2015-118983|   IM-15070|       7|OFF-BI-10002215|       7|728202|     450|       0|728202|
|CA-2014-105893|   HP-14815|       8|OFF-AP-10001492|       8|907152|     650|     0.2|890000|
|CA-2014-167164|   PK-19075|       9|FUR-CH-10002774|       9|180504|     320|     0.2|170000|
|CA-2014-143336|   AG-10270|      10|FUR-TA-10000577|      10|114900|     560|       0|108900|
|CA-2014-143452|   ZD-21925|      11|TEC-AC-10003027|      11|170684|     900|     0.2|150000|
|CA-2016-137330|   KB-16585|      12|FUR-BO-10004834|      12|911424|     410|     0.2|908500|
|US-2016-137330|   SF-20065|      13|FUR-FU-10004848|      13|155520|     305|     0.2|140000|
|US-2017-156909|   EB-13870|      14|OFF-EN-10001509|      14|407976|     310|     0.2|400976|
|CA-2015-106320|    RV-8346|      15|OFF-AR-10004042|      15|688100|     540|     0.8|680100|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

DataFrame[Order ID: string, Customer ID: string, Place ID: string, Product ID: string, Sales ID: string, Sales: string, Quantity: string, Discount: string, Cost: string]

In [18]:
sale = sale.withColumn("Place ID", sale["Place ID"].cast(IntegerType()))
sale = sale.withColumn("Sales ID", sale["Sales ID"].cast(IntegerType()))
sale = sale.withColumn("Sales", sale["Sales"].cast(IntegerType()))
sale = sale.withColumn("Quantity", sale["Quantity"].cast(IntegerType()))
sale = sale.withColumn("Discount", sale["Discount"].cast(FloatType()))
sale = sale.withColumn("Cost", sale["Cost"].cast(IntegerType()))
sale.show()
display(sale)

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-152156|   CG-12520|       1|FUR-BO-10001798|       1|122261|     200|     0.0|120000|
|CA-2016-138688|   WG-45983|       2|FUR-CH-10000454|       2|173100|     389|     0.0|170000|
|US-2015-108966|   DV-13045|       3|OFF-LA-10000240|       3| 98652|     422|     0.0| 92000|
|CA-2014-115812|   SO-20335|       4|FUR-TA-10000577|       4| 95700|     501|    0.45| 90000|
|CA-2017-114412|   BH-11710|       5|FUR-FU-10001487|       5|223682|     290|     0.2|215000|
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|     0.0|485000|
|US-2015-118983|   IM-15070|       7|OFF-BI-10002215|       7|728202|     450|     0.0|728202|
|CA-2014-105893|   HP-14815|       8|OFF-AP-10001492|       8|907152|     650|     0.2|890000|
|CA-2014-167164|   PK-19075|       9|FUR-CH-10002774|       9|180504|     320|     0.2|170000|
|CA-2014-143336|   AG-10270|      10|FUR-TA-10000577|      10|114900|     560|     0.0|108900|
|CA-2014-143452|   ZD-21925|      11|TEC-AC-10003027|      11|170684|     900|     0.2|150000|
|CA-2016-137330|   KB-16585|      12|FUR-BO-10004834|      12|911424|     410|     0.2|908500|
|US-2016-137330|   SF-20065|      13|FUR-FU-10004848|      13|155520|     305|     0.2|140000|
|US-2017-156909|   EB-13870|      14|OFF-EN-10001509|      14|407976|     310|     0.2|400976|
|CA-2015-106320|    RV-8346|      15|OFF-AR-10004042|      15|688100|     540|     0.8|680100|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

DataFrame[Order ID: string, Customer ID: string, Place ID: int, Product ID: string, Sales ID: int, Sales: int, Quantity: int, Discount: float, Cost: int]

In [19]:
region = region.withColumn("Place ID", region["Place ID"].cast(IntegerType()))
region.show()
display(region)

+--------+-------------+--------------+
|Place ID|         City|         State|
+--------+-------------+--------------+
|       1|    Henderson|      Kentucky|
|       2|  Los Angeles|    California|
|       3|  Los Angeles|    California|
|       4|      Concord|North Carolina|
|       5|      Seattle|    Washington|
|       6|   Fort Worth|         Texas|
|       7|      Madison|     Wisconsin|
|       8|  West Jordan|          Utah|
|       9|San Francisco|    California|
|      10|      Fremont|      Nebraska|
|      11|      Fremont|      Nebraska|
|      12| Philadelphia|  Pennsylvania|
|      13|         Orem|          Utah|
|      14|  Los Angeles|    California|
|      15| Philadelphia|  Pennsylvania|
+--------+-------------+--------------+

DataFrame[Place ID: int, City: string, State: string]

In [20]:
display(customer)
display(product)
display(order)
display(sale)
display(region)

DataFrame[Customer ID: string, Customer Name: string]

DataFrame[Product ID: string, Category: string, Sub-Category: string, Product Name: string]

DataFrame[Order ID: string, Order Date: date]

DataFrame[Order ID: string, Customer ID: string, Place ID: int, Product ID: string, Sales ID: int, Sales: int, Quantity: int, Discount: float, Cost: int]

DataFrame[Place ID: int, City: string, State: string]

# DataFrame Information

In [21]:
display(customer.head(5))

[Row(Customer ID='CG-12520', Customer Name='Claire Gute'),
 Row(Customer ID='WG-45983', Customer Name='Henry Stalin'),
 Row(Customer ID='DV-13045', Customer Name='Darrin Van Huff'),
 Row(Customer ID='SO-20335', Customer Name="Sean O'Donnell"),
 Row(Customer ID='BH-11710', Customer Name='Brosina Hoffman')]

In [22]:
order.printSchema()

root
 |-- Order ID: string (nullable = true)
 |-- Order Date: date (nullable = true)

In [23]:
print(product.dtypes)

[('Product ID', 'string'), ('Category', 'string'), ('Sub-Category', 'string'), ('Product Name', 'string')]

In [24]:
sale.describe().show()

+-------+--------------+-----------+----------------+---------------+----------------+-----------------+------------------+-------------------+------------------+
|summary|      Order ID|Customer ID|        Place ID|     Product ID|        Sales ID|            Sales|          Quantity|           Discount|              Cost|
+-------+--------------+-----------+----------------+---------------+----------------+-----------------+------------------+-------------------+------------------+
|  count|            15|         15|              15|             15|              15|               15|                15|                 15|                15|
|   mean|          null|       null|             8.0|           null|             8.0|364430.4666666667|464.46666666666664|0.17666666805744172| 356578.5333333333|
| stddev|          null|       null|4.47213595499958|           null|4.47213595499958|302766.7691896724| 186.4694025711406| 0.2161899532903425|303317.09231520793|
|    min|CA-2014-105893|   AA-10480|               1|FUR-BO-10001798|               1|            95700|               200|                0.0|             90000|
|    max|US-2017-156909|   ZD-21925|              15|TEC-PH-10002275|              15|           911424|               900|                0.8|            908500|
+-------+--------------+-----------+----------------+---------------+----------------+-----------------+------------------+-------------------+------------------+

In [25]:
print(region.columns)

['Place ID', 'City', 'State']

In [26]:
SaleCheckNullDict = {col:sale.filter(sale[col].isNull()).count() for col in sale.columns}
SaleCheckNullDict

{'Order ID': 0,
 'Customer ID': 0,
 'Place ID': 0,
 'Product ID': 0,
 'Sales ID': 0,
 'Sales': 0,
 'Quantity': 0,
 'Discount': 0,
 'Cost': 0}

In [27]:
customerCheckNullDict = {col:customer.filter(customer[col].isNull()).count() for col in customer.columns}
customerCheckNullDict

{'Customer ID': 0, 'Customer Name': 0}

In [28]:
orderCheckNullDict = {col:order.filter(order[col].isNull()).count() for col in order.columns}
orderCheckNullDict

{'Order ID': 0, 'Order Date': 0}

In [29]:
productCheckNullDict = {col:product.filter(product[col].isNull()).count() for col in product.columns}
productCheckNullDict

{'Product ID': 0, 'Category': 0, 'Sub-Category': 0, 'Product Name': 0}

In [31]:
regionCheckNullDict = {col:region.filter(region[col].isNull()).count() for col in region.columns}
regionCheckNullDict

{'Place ID': 0, 'City': 0, 'State': 0}

# Create a DataFrame from Input Information

In [38]:
from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])

df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+--------------------+------------------+-----+------+
|                name|         languages|state|gender|
+--------------------+------------------+-----+------+
|    {James, , Smith}|[Java, Scala, C++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

# SQL : SELECT ... FROM ... WHERE ... ORDER BY

In [46]:
sale.show()

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-152156|   CG-12520|       1|FUR-BO-10001798|       1|122261|     200|     0.0|120000|
|CA-2016-138688|   WG-45983|       2|FUR-CH-10000454|       2|173100|     389|     0.0|170000|
|US-2015-108966|   DV-13045|       3|OFF-LA-10000240|       3| 98652|     422|     0.0| 92000|
|CA-2014-115812|   SO-20335|       4|FUR-TA-10000577|       4| 95700|     501|    0.45| 90000|
|CA-2017-114412|   BH-11710|       5|FUR-FU-10001487|       5|223682|     290|     0.2|215000|
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|     0.0|485000|
|US-2015-118983|   IM-15070|       7|OFF-BI-10002215|       7|728202|     450|     0.0|728202|
|CA-2014-105893|   HP-14815|       8|OFF-AP-10001492|       8|907152|     650|     0.2|890000|
|CA-2014-167164|   PK-19075|       9|FUR-CH-10002774|       9|180504|     320|     0.2|170000|
|CA-2014-143336|   AG-10270|      10|FUR-TA-10000577|      10|114900|     560|     0.0|108900|
|CA-2014-143452|   ZD-21925|      11|TEC-AC-10003027|      11|170684|     900|     0.2|150000|
|CA-2016-137330|   KB-16585|      12|FUR-BO-10004834|      12|911424|     410|     0.2|908500|
|US-2016-137330|   SF-20065|      13|FUR-FU-10004848|      13|155520|     305|     0.2|140000|
|US-2017-156909|   EB-13870|      14|OFF-EN-10001509|      14|407976|     310|     0.2|400976|
|CA-2015-106320|    RV-8346|      15|OFF-AR-10004042|      15|688100|     540|     0.8|680100|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

In [53]:
from pyspark.sql.functions import col
result1 = sale.filter(col("Customer ID") == "AA-10480")
result1.show()

sale.createOrReplaceTempView("sale")
sqlQuery = """
  SELECT * 
  FROM sale 
  WHERE `Customer ID` = 'AA-10480'
"""
result2 = spark.sql(sqlQuery)
result2.show()

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|     0.0|485000|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|     0.0|485000|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

In [74]:
result1 = sale.filter(col("Product ID").contains("FUR"))
result1 = result1.select('Customer ID', 'Order ID', 'Product ID', 'Sales', 'Quantity', 'Discount', col("Cost").alias("Cost (USD)"))
result1.show()

sale.createOrReplaceTempView("sale")
sqlQuery = """
  SELECT `Customer ID`, `Order ID`, `Product ID`, Sales, Quantity, Discount, Cost AS `Cost (USD)`
  FROM sale 
  WHERE `Product ID` LIKE 'FUR%'
"""
result2 = spark.sql(sqlQuery)
result2.show()

+-----------+--------------+---------------+------+--------+--------+----------+
|Customer ID|      Order ID|     Product ID| Sales|Quantity|Discount|Cost (USD)|
+-----------+--------------+---------------+------+--------+--------+----------+
|   CG-12520|CA-2016-152156|FUR-BO-10001798|122261|     200|     0.0|    120000|
|   WG-45983|CA-2016-138688|FUR-CH-10000454|173100|     389|     0.0|    170000|
|   SO-20335|CA-2014-115812|FUR-TA-10000577| 95700|     501|    0.45|     90000|
|   BH-11710|CA-2017-114412|FUR-FU-10001487|223682|     290|     0.2|    215000|
|   PK-19075|CA-2014-167164|FUR-CH-10002774|180504|     320|     0.2|    170000|
|   AG-10270|CA-2014-143336|FUR-TA-10000577|114900|     560|     0.0|    108900|
|   KB-16585|CA-2016-137330|FUR-BO-10004834|911424|     410|     0.2|    908500|
|   SF-20065|US-2016-137330|FUR-FU-10004848|155520|     305|     0.2|    140000|
+-----------+--------------+---------------+------+--------+--------+----------+

+-----------+--------------+---------------+------+--------+--------+----------+
|Customer ID|      Order ID|     Product ID| Sales|Quantity|Discount|Cost (USD)|
+-----------+--------------+---------------+------+--------+--------+----------+
|   CG-12520|CA-2016-152156|FUR-BO-10001798|122261|     200|     0.0|    120000|
|   WG-45983|CA-2016-138688|FUR-CH-10000454|173100|     389|     0.0|    170000|
|   SO-20335|CA-2014-115812|FUR-TA-10000577| 95700|     501|    0.45|     90000|
|   BH-11710|CA-2017-114412|FUR-FU-10001487|223682|     290|     0.2|    215000|
|   PK-19075|CA-2014-167164|FUR-CH-10002774|180504|     320|     0.2|    170000|
|   AG-10270|CA-2014-143336|FUR-TA-10000577|114900|     560|     0.0|    108900|
|   KB-16585|CA-2016-137330|FUR-BO-10004834|911424|     410|     0.2|    908500|
|   SF-20065|US-2016-137330|FUR-FU-10004848|155520|     305|     0.2|    140000|
+-----------+--------------+---------------+------+--------+--------+----------+

In [100]:
sale.show()

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-152156|   CG-12520|       1|FUR-BO-10001798|       1|122261|     200|     0.0|120000|
|CA-2016-138688|   WG-45983|       2|FUR-CH-10000454|       2|173100|     389|     0.0|170000|
|US-2015-108966|   DV-13045|       3|OFF-LA-10000240|       3| 98652|     422|     0.0| 92000|
|CA-2014-115812|   SO-20335|       4|FUR-TA-10000577|       4| 95700|     501|    0.45| 90000|
|CA-2017-114412|   BH-11710|       5|FUR-FU-10001487|       5|223682|     290|     0.2|215000|
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|     0.0|485000|
|US-2015-118983|   IM-15070|       7|OFF-BI-10002215|       7|728202|     450|     0.0|728202|
|CA-2014-105893|   HP-14815|       8|OFF-AP-10001492|       8|907152|     650|     0.2|890000|
|CA-2014-167164|   PK-19075|       9|FUR-CH-10002774|       9|180504|     320|     0.2|170000|
|CA-2014-143336|   AG-10270|      10|FUR-TA-10000577|      10|114900|     560|     0.0|108900|
|CA-2014-143452|   ZD-21925|      11|TEC-AC-10003027|      11|170684|     900|     0.2|150000|
|CA-2016-137330|   KB-16585|      12|FUR-BO-10004834|      12|911424|     410|     0.2|908500|
|US-2016-137330|   SF-20065|      13|FUR-FU-10004848|      13|155520|     305|     0.2|140000|
|US-2017-156909|   EB-13870|      14|OFF-EN-10001509|      14|407976|     310|     0.2|400976|
|CA-2015-106320|    RV-8346|      15|OFF-AR-10004042|      15|688100|     540|     0.8|680100|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

In [120]:
from pyspark.sql.functions import *
import pyspark.sql.functions as f

result1 = sale.withColumn('Year From OrderID', f.split(sale['Order ID'], '-')[1])
result1 = result1.withColumn("Year From OrderID", result1["Year From OrderID"].cast(IntegerType()))
result1 = result1.select('Customer ID', 'Order ID', 'Year From OrderID', 'Product ID', 'Sales', 'Quantity', 'Discount', "Cost")
result1 = result1.filter((col("Year From OrderID") == 2016) & (col('Discount') == 0))
result1 = result1.orderBy(col("Cost").desc())
result1.show()


sale.createOrReplaceTempView("sale")
sqlQuery = """
  SELECT  `Customer ID`, `Order ID`, 
          CAST(substring(`Order ID`, instr(`Order ID`, '-') + 1, 4) AS int) AS `Year From OrderID`, 
          `Product ID`, Sales, Quantity, Discount, Cost
  FROM sale
  WHERE substring(`Order ID`, instr(`Order ID`, '-') + 1, 4) = '2016' AND Discount = 0
  ORDER BY Cost DESC 
"""
result2 = spark.sql(sqlQuery)
result2.show()
result2.printSchema()

+-----------+--------------+-----------------+---------------+------+--------+--------+------+
|Customer ID|      Order ID|Year From OrderID|     Product ID| Sales|Quantity|Discount|  Cost|
+-----------+--------------+-----------------+---------------+------+--------+--------+------+
|   AA-10480|CA-2016-161389|             2016|TEC-PH-10002275|488600|     720|     0.0|485000|
|   WG-45983|CA-2016-138688|             2016|FUR-CH-10000454|173100|     389|     0.0|170000|
|   CG-12520|CA-2016-152156|             2016|FUR-BO-10001798|122261|     200|     0.0|120000|
+-----------+--------------+-----------------+---------------+------+--------+--------+------+

+-----------+--------------+-----------------+---------------+------+--------+--------+------+
|Customer ID|      Order ID|Year From OrderID|     Product ID| Sales|Quantity|Discount|  Cost|
+-----------+--------------+-----------------+---------------+------+--------+--------+------+
|   AA-10480|CA-2016-161389|             2016|TEC-PH-10002275|488600|     720|     0.0|485000|
|   WG-45983|CA-2016-138688|             2016|FUR-CH-10000454|173100|     389|     0.0|170000|
|   CG-12520|CA-2016-152156|             2016|FUR-BO-10001798|122261|     200|     0.0|120000|
+-----------+--------------+-----------------+---------------+------+--------+--------+------+

root
 |-- Customer ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Year From OrderID: integer (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: float (nullable = true)
 |-- Cost: integer (nullable = true)

# SQL : SELECT ... JOIN ... GROUP BY ... HAVING

In [123]:
sale.show()

+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|      Order ID|Customer ID|Place ID|     Product ID|Sales ID| Sales|Quantity|Discount|  Cost|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+
|CA-2016-152156|   CG-12520|       1|FUR-BO-10001798|       1|122261|     200|     0.0|120000|
|CA-2016-138688|   WG-45983|       2|FUR-CH-10000454|       2|173100|     389|     0.0|170000|
|US-2015-108966|   DV-13045|       3|OFF-LA-10000240|       3| 98652|     422|     0.0| 92000|
|CA-2014-115812|   SO-20335|       4|FUR-TA-10000577|       4| 95700|     501|    0.45| 90000|
|CA-2017-114412|   BH-11710|       5|FUR-FU-10001487|       5|223682|     290|     0.2|215000|
|CA-2016-161389|   AA-10480|       6|TEC-PH-10002275|       6|488600|     720|     0.0|485000|
|US-2015-118983|   IM-15070|       7|OFF-BI-10002215|       7|728202|     450|     0.0|728202|
|CA-2014-105893|   HP-14815|       8|OFF-AP-10001492|       8|907152|     650|     0.2|890000|
|CA-2014-167164|   PK-19075|       9|FUR-CH-10002774|       9|180504|     320|     0.2|170000|
|CA-2014-143336|   AG-10270|      10|FUR-TA-10000577|      10|114900|     560|     0.0|108900|
|CA-2014-143452|   ZD-21925|      11|TEC-AC-10003027|      11|170684|     900|     0.2|150000|
|CA-2016-137330|   KB-16585|      12|FUR-BO-10004834|      12|911424|     410|     0.2|908500|
|US-2016-137330|   SF-20065|      13|FUR-FU-10004848|      13|155520|     305|     0.2|140000|
|US-2017-156909|   EB-13870|      14|OFF-EN-10001509|      14|407976|     310|     0.2|400976|
|CA-2015-106320|    RV-8346|      15|OFF-AR-10004042|      15|688100|     540|     0.8|680100|
+--------------+-----------+--------+---------------+--------+------+--------+--------+------+

In [131]:
display(customer)
display(product)
display(order)
display(sale)
display(region)

DataFrame[Customer ID: string, Customer Name: string]

DataFrame[Product ID: string, Category: string, Sub-Category: string, Product Name: string]

DataFrame[Order ID: string, Order Date: date]

DataFrame[Order ID: string, Customer ID: string, Place ID: int, Product ID: string, Sales ID: int, Sales: int, Quantity: int, Discount: float, Cost: int]

DataFrame[Place ID: int, City: string, State: string]

In [130]:
sale.createOrReplaceTempView("sale")
customer.createOrReplaceTempView("customer")
order.createOrReplaceTempView("order")
region.createOrReplaceTempView("region")
product.createOrReplaceTempView("product")

In [139]:
product.show()

+---------------+---------------+------------+--------------------+
|     Product ID|       Category|Sub-Category|        Product Name|
+---------------+---------------+------------+--------------------+
|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|
|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|
|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|
|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|
|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|
|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...|
|OFF-BI-10002215|Office Supplies|     Binders|Wilson Jones Hang...|
|OFF-AP-10001492|Office Supplies|  Appliances|Acco Six-Outlet P...|
|FUR-CH-10002774|      Furniture|      Chairs|Global Deluxe Sta...|
|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|
|TEC-AC-10003027|     Technology| Accessories|Imation 8GB Mini ...|
|FUR-BO-10004834|      Furniture|   Bookcases|Riverside Palais ...|
|FUR-FU-10004848|      Furniture| Furnishings|"Howard Miller 13...|
|OFF-EN-10001509|Office Supplies|   Envelopes|Poly String Tie E...|
|OFF-AR-10004042|Office Supplies|         Art|BOSTON Model 1800...|
+---------------+---------------+------------+--------------------+

In [159]:
result1 = sale.join(order, on="Order ID")
result1 = result1.join(customer, on="Customer ID")
result1 = result1.join(product, on="Product ID")

result1 = result1.withColumnRenamed("Place ID", "PlaceID")
region1 = region.withColumnRenamed("Place ID", "Place_ID")
result1 = result1.join(region1,result1.PlaceID == region1.Place_ID,"inner").drop(region1.Place_ID)

result1.show()

+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+
|     Product ID|Customer ID|      Order ID|PlaceID|Sales ID| Sales|Quantity|Discount|  Cost|Order Date|     Customer Name|       Category|Sub-Category|        Product Name|         City|         State|
+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+
|FUR-BO-10001798|   CG-12520|CA-2016-152156|      1|       1|122261|     200|     0.0|120000|2017-11-08|       Claire Gute|      Furniture|   Bookcases|Bush Somerset Col...|    Henderson|      Kentucky|
|FUR-CH-10000454|   WG-45983|CA-2016-138688|      2|       2|173100|     389|     0.0|170000|2017-06-12|      Henry Stalin|      Furniture|      Chairs|Hon Deluxe Fabric...|  Los Angeles|    California|
|OFF-LA-10000240|   DV-13045|US-2015-108966|      3|       3| 98652|     422|     0.0| 92000|2019-01-11|   Darrin Van Huff|Office Supplies|      Labels|Self-Adhesive Add...|  Los Angeles|    California|
|FUR-TA-10000577|   SO-20335|CA-2014-115812|      4|       4| 95700|     501|    0.45| 90000|2019-05-09|    Sean O'Donnell|      Furniture|      Tables|Bretford CR4500 S...|      Concord|North Carolina|
|FUR-TA-10000577|   SO-20335|CA-2014-115812|      4|       4| 95700|     501|    0.45| 90000|2019-05-09|    Sean O'Donnell|      Furniture|      Tables|Bretford CR4500 S...|      Concord|North Carolina|
|FUR-FU-10001487|   BH-11710|CA-2017-114412|      5|       5|223682|     290|     0.2|215000|2017-04-15|   Brosina Hoffman|      Furniture| Furnishings|Eldon Expressions...|      Seattle|    Washington|
|TEC-PH-10002275|   AA-10480|CA-2016-161389|      6|       6|488600|     720|     0.0|485000|2017-12-05|      Andrew Allen|     Technology|      Phones|Mitel 5320 IP Pho...|   Fort Worth|         Texas|
|OFF-BI-10002215|   IM-15070|US-2015-118983|      7|       7|728202|     450|     0.0|728202|2018-11-22|      Irene Maddox|Office Supplies|     Binders|Wilson Jones Hang...|      Madison|     Wisconsin|
|OFF-AP-10001492|   HP-14815|CA-2014-105893|      8|       8|907152|     650|     0.2|890000|2018-11-11|     Harold Pawlan|Office Supplies|  Appliances|Acco Six-Outlet P...|  West Jordan|          Utah|
|FUR-CH-10002774|   PK-19075|CA-2014-167164|      9|       9|180504|     320|     0.2|170000|2018-05-13|         Pete Kriz|      Furniture|      Chairs|Global Deluxe Sta...|San Francisco|    California|
|FUR-TA-10000577|   AG-10270|CA-2014-143336|     10|      10|114900|     560|     0.0|108900|2018-08-27|   Alejandro Grove|      Furniture|      Tables|Bretford CR4500 S...|      Fremont|      Nebraska|
|FUR-TA-10000577|   AG-10270|CA-2014-143336|     10|      10|114900|     560|     0.0|108900|2018-08-27|   Alejandro Grove|      Furniture|      Tables|Bretford CR4500 S...|      Fremont|      Nebraska|
|TEC-AC-10003027|   ZD-21925|CA-2014-143452|     11|      11|170684|     900|     0.2|150000|2019-02-20|Zuschuss Donatelli|     Technology| Accessories|Imation 8GB Mini ...|      Fremont|      Nebraska|
|FUR-BO-10004834|   KB-16585|CA-2016-137330|     12|      12|911424|     410|     0.2|908500|2018-12-09|         Ken Black|      Furniture|   Bookcases|Riverside Palais ...| Philadelphia|  Pennsylvania|
|FUR-FU-10004848|   SF-20065|US-2016-137330|     13|      13|155520|     305|     0.2|140000|2017-12-20|   Sandra Flanagan|      Furniture| Furnishings|"Howard Miller 13...|         Orem|          Utah|
|OFF-EN-10001509|   EB-13870|US-2017-156909|     14|      14|407976|     310|     0.2|400976|2018-07-16|       Emily Burns|Office Supplies|   Envelopes|Poly String Tie E...|  Los Angeles|    California|
|OFF-AR-10004042|    RV-8346|CA-2015-106320|     15|      15|688100|     540|     0.8|680100|2019-04-25|        Matt Damon|Office Supplies|         Art|BOSTON Model 1800...| Philadelphia|  Pennsylvania|
+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+

In [143]:
sqlQuery = """
  SELECT  sale.`Order ID`, order.`Order Date`,
          sale.`Customer ID`, customer.`Customer Name`,
          sale.`Product ID`, product.Category, product.`Sub-Category`, product.`Product Name`,
          sale.`Place ID`, region.City, region.State,
          sale.Sales, 
          sale.Quantity, 
          sale.Discount, 
          sale.Cost
  FROM sale
  INNER JOIN order ON sale.`Order ID` = order.`Order ID`
  INNER JOIN customer ON sale.`Customer ID` = customer.`Customer ID`
  INNER JOIN product ON sale.`Product ID` = product.`Product ID`
  INNER JOIN region ON sale.`Place ID` = region.`Place ID`
"""
result2 = spark.sql(sqlQuery)
result2.show()
result2.printSchema()

+--------------+----------+-----------+------------------+---------------+---------------+------------+--------------------+--------+-------------+--------------+------+--------+--------+------+
|      Order ID|Order Date|Customer ID|     Customer Name|     Product ID|       Category|Sub-Category|        Product Name|Place ID|         City|         State| Sales|Quantity|Discount|  Cost|
+--------------+----------+-----------+------------------+---------------+---------------+------------+--------------------+--------+-------------+--------------+------+--------+--------+------+
|CA-2016-152156|2017-11-08|   CG-12520|       Claire Gute|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|       1|    Henderson|      Kentucky|122261|     200|     0.0|120000|
|CA-2016-138688|2017-06-12|   WG-45983|      Henry Stalin|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|       2|  Los Angeles|    California|173100|     389|     0.0|170000|
|US-2015-108966|2019-01-11|   DV-13045|   Darrin Van Huff|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|       3|  Los Angeles|    California| 98652|     422|     0.0| 92000|
|CA-2014-115812|2019-05-09|   SO-20335|    Sean O'Donnell|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|       4|      Concord|North Carolina| 95700|     501|    0.45| 90000|
|CA-2014-115812|2019-05-09|   SO-20335|    Sean O'Donnell|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|       4|      Concord|North Carolina| 95700|     501|    0.45| 90000|
|CA-2017-114412|2017-04-15|   BH-11710|   Brosina Hoffman|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|       5|      Seattle|    Washington|223682|     290|     0.2|215000|
|CA-2016-161389|2017-12-05|   AA-10480|      Andrew Allen|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...|       6|   Fort Worth|         Texas|488600|     720|     0.0|485000|
|US-2015-118983|2018-11-22|   IM-15070|      Irene Maddox|OFF-BI-10002215|Office Supplies|     Binders|Wilson Jones Hang...|       7|      Madison|     Wisconsin|728202|     450|     0.0|728202|
|CA-2014-105893|2018-11-11|   HP-14815|     Harold Pawlan|OFF-AP-10001492|Office Supplies|  Appliances|Acco Six-Outlet P...|       8|  West Jordan|          Utah|907152|     650|     0.2|890000|
|CA-2014-167164|2018-05-13|   PK-19075|         Pete Kriz|FUR-CH-10002774|      Furniture|      Chairs|Global Deluxe Sta...|       9|San Francisco|    California|180504|     320|     0.2|170000|
|CA-2014-143336|2018-08-27|   AG-10270|   Alejandro Grove|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|      10|      Fremont|      Nebraska|114900|     560|     0.0|108900|
|CA-2014-143336|2018-08-27|   AG-10270|   Alejandro Grove|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|      10|      Fremont|      Nebraska|114900|     560|     0.0|108900|
|CA-2014-143452|2019-02-20|   ZD-21925|Zuschuss Donatelli|TEC-AC-10003027|     Technology| Accessories|Imation 8GB Mini ...|      11|      Fremont|      Nebraska|170684|     900|     0.2|150000|
|CA-2016-137330|2018-12-09|   KB-16585|         Ken Black|FUR-BO-10004834|      Furniture|   Bookcases|Riverside Palais ...|      12| Philadelphia|  Pennsylvania|911424|     410|     0.2|908500|
|US-2016-137330|2017-12-20|   SF-20065|   Sandra Flanagan|FUR-FU-10004848|      Furniture| Furnishings|"Howard Miller 13...|      13|         Orem|          Utah|155520|     305|     0.2|140000|
|US-2017-156909|2018-07-16|   EB-13870|       Emily Burns|OFF-EN-10001509|Office Supplies|   Envelopes|Poly String Tie E...|      14|  Los Angeles|    California|407976|     310|     0.2|400976|
|CA-2015-106320|2019-04-25|    RV-8346|        Matt Damon|OFF-AR-10004042|Office Supplies|         Art|BOSTON Model 1800...|      15| Philadelphia|  Pennsylvania|688100|     540|     0.8|680100|
+--------------+----------+-----------+------------------+---------------+---------------+------------+--------------------+--------+-------------+--------------+------+--------+--------+------+

root
 |-- Order ID: string (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Place ID: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sales: integer (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: float (nullable = true)
 |-- Cost: integer (nullable = true)

In [168]:
result1.show()

+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+
|     Product ID|Customer ID|      Order ID|PlaceID|Sales ID| Sales|Quantity|Discount|  Cost|Order Date|     Customer Name|       Category|Sub-Category|        Product Name|         City|         State|
+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+
|FUR-BO-10001798|   CG-12520|CA-2016-152156|      1|       1|122261|     200|     0.0|120000|2017-11-08|       Claire Gute|      Furniture|   Bookcases|Bush Somerset Col...|    Henderson|      Kentucky|
|FUR-CH-10000454|   WG-45983|CA-2016-138688|      2|       2|173100|     389|     0.0|170000|2017-06-12|      Henry Stalin|      Furniture|      Chairs|Hon Deluxe Fabric...|  Los Angeles|    California|
|OFF-LA-10000240|   DV-13045|US-2015-108966|      3|       3| 98652|     422|     0.0| 92000|2019-01-11|   Darrin Van Huff|Office Supplies|      Labels|Self-Adhesive Add...|  Los Angeles|    California|
|FUR-TA-10000577|   SO-20335|CA-2014-115812|      4|       4| 95700|     501|    0.45| 90000|2019-05-09|    Sean O'Donnell|      Furniture|      Tables|Bretford CR4500 S...|      Concord|North Carolina|
|FUR-TA-10000577|   SO-20335|CA-2014-115812|      4|       4| 95700|     501|    0.45| 90000|2019-05-09|    Sean O'Donnell|      Furniture|      Tables|Bretford CR4500 S...|      Concord|North Carolina|
|FUR-FU-10001487|   BH-11710|CA-2017-114412|      5|       5|223682|     290|     0.2|215000|2017-04-15|   Brosina Hoffman|      Furniture| Furnishings|Eldon Expressions...|      Seattle|    Washington|
|TEC-PH-10002275|   AA-10480|CA-2016-161389|      6|       6|488600|     720|     0.0|485000|2017-12-05|      Andrew Allen|     Technology|      Phones|Mitel 5320 IP Pho...|   Fort Worth|         Texas|
|OFF-BI-10002215|   IM-15070|US-2015-118983|      7|       7|728202|     450|     0.0|728202|2018-11-22|      Irene Maddox|Office Supplies|     Binders|Wilson Jones Hang...|      Madison|     Wisconsin|
|OFF-AP-10001492|   HP-14815|CA-2014-105893|      8|       8|907152|     650|     0.2|890000|2018-11-11|     Harold Pawlan|Office Supplies|  Appliances|Acco Six-Outlet P...|  West Jordan|          Utah|
|FUR-CH-10002774|   PK-19075|CA-2014-167164|      9|       9|180504|     320|     0.2|170000|2018-05-13|         Pete Kriz|      Furniture|      Chairs|Global Deluxe Sta...|San Francisco|    California|
|FUR-TA-10000577|   AG-10270|CA-2014-143336|     10|      10|114900|     560|     0.0|108900|2018-08-27|   Alejandro Grove|      Furniture|      Tables|Bretford CR4500 S...|      Fremont|      Nebraska|
|FUR-TA-10000577|   AG-10270|CA-2014-143336|     10|      10|114900|     560|     0.0|108900|2018-08-27|   Alejandro Grove|      Furniture|      Tables|Bretford CR4500 S...|      Fremont|      Nebraska|
|TEC-AC-10003027|   ZD-21925|CA-2014-143452|     11|      11|170684|     900|     0.2|150000|2019-02-20|Zuschuss Donatelli|     Technology| Accessories|Imation 8GB Mini ...|      Fremont|      Nebraska|
|FUR-BO-10004834|   KB-16585|CA-2016-137330|     12|      12|911424|     410|     0.2|908500|2018-12-09|         Ken Black|      Furniture|   Bookcases|Riverside Palais ...| Philadelphia|  Pennsylvania|
|FUR-FU-10004848|   SF-20065|US-2016-137330|     13|      13|155520|     305|     0.2|140000|2017-12-20|   Sandra Flanagan|      Furniture| Furnishings|"Howard Miller 13...|         Orem|          Utah|
|OFF-EN-10001509|   EB-13870|US-2017-156909|     14|      14|407976|     310|     0.2|400976|2018-07-16|       Emily Burns|Office Supplies|   Envelopes|Poly String Tie E...|  Los Angeles|    California|
|OFF-AR-10004042|    RV-8346|CA-2015-106320|     15|      15|688100|     540|     0.8|680100|2019-04-25|        Matt Damon|Office Supplies|         Art|BOSTON Model 1800...| Philadelphia|  Pennsylvania|
+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+

In [186]:
result1A = result1.withColumn("Revenue", col("Quantity") * col("Sales"))
result1A = result1A.withColumn("Profit", col("Revenue") - col("Cost"))
result1A.show()

result1B = result1A.groupBy("City","State") \
                 .agg(sum("Quantity"),sum("Sales"), sum("Cost"), countDistinct('Category'), avg("Profit")) 
result1B = result1B.filter(col("count(Category)") >= 2)
result1B.show()

+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+---------+---------+
|     Product ID|Customer ID|      Order ID|PlaceID|Sales ID| Sales|Quantity|Discount|  Cost|Order Date|     Customer Name|       Category|Sub-Category|        Product Name|         City|         State|  Revenue|   Profit|
+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+---------+---------+
|FUR-BO-10001798|   CG-12520|CA-2016-152156|      1|       1|122261|     200|     0.0|120000|2017-11-08|       Claire Gute|      Furniture|   Bookcases|Bush Somerset Col...|    Henderson|      Kentucky| 24452200| 24332200|
|FUR-CH-10000454|   WG-45983|CA-2016-138688|      2|       2|173100|     389|     0.0|170000|2017-06-12|      Henry Stalin|      Furniture|      Chairs|Hon Deluxe Fabric...|  Los Angeles|    California| 67335900| 67165900|
|OFF-LA-10000240|   DV-13045|US-2015-108966|      3|       3| 98652|     422|     0.0| 92000|2019-01-11|   Darrin Van Huff|Office Supplies|      Labels|Self-Adhesive Add...|  Los Angeles|    California| 41631144| 41539144|
|FUR-TA-10000577|   SO-20335|CA-2014-115812|      4|       4| 95700|     501|    0.45| 90000|2019-05-09|    Sean O'Donnell|      Furniture|      Tables|Bretford CR4500 S...|      Concord|North Carolina| 47945700| 47855700|
|FUR-TA-10000577|   SO-20335|CA-2014-115812|      4|       4| 95700|     501|    0.45| 90000|2019-05-09|    Sean O'Donnell|      Furniture|      Tables|Bretford CR4500 S...|      Concord|North Carolina| 47945700| 47855700|
|FUR-FU-10001487|   BH-11710|CA-2017-114412|      5|       5|223682|     290|     0.2|215000|2017-04-15|   Brosina Hoffman|      Furniture| Furnishings|Eldon Expressions...|      Seattle|    Washington| 64867780| 64652780|
|TEC-PH-10002275|   AA-10480|CA-2016-161389|      6|       6|488600|     720|     0.0|485000|2017-12-05|      Andrew Allen|     Technology|      Phones|Mitel 5320 IP Pho...|   Fort Worth|         Texas|351792000|351307000|
|OFF-BI-10002215|   IM-15070|US-2015-118983|      7|       7|728202|     450|     0.0|728202|2018-11-22|      Irene Maddox|Office Supplies|     Binders|Wilson Jones Hang...|      Madison|     Wisconsin|327690900|326962698|
|OFF-AP-10001492|   HP-14815|CA-2014-105893|      8|       8|907152|     650|     0.2|890000|2018-11-11|     Harold Pawlan|Office Supplies|  Appliances|Acco Six-Outlet P...|  West Jordan|          Utah|589648800|588758800|
|FUR-CH-10002774|   PK-19075|CA-2014-167164|      9|       9|180504|     320|     0.2|170000|2018-05-13|         Pete Kriz|      Furniture|      Chairs|Global Deluxe Sta...|San Francisco|    California| 57761280| 57591280|
|FUR-TA-10000577|   AG-10270|CA-2014-143336|     10|      10|114900|     560|     0.0|108900|2018-08-27|   Alejandro Grove|      Furniture|      Tables|Bretford CR4500 S...|      Fremont|      Nebraska| 64344000| 64235100|
|FUR-TA-10000577|   AG-10270|CA-2014-143336|     10|      10|114900|     560|     0.0|108900|2018-08-27|   Alejandro Grove|      Furniture|      Tables|Bretford CR4500 S...|      Fremont|      Nebraska| 64344000| 64235100|
|TEC-AC-10003027|   ZD-21925|CA-2014-143452|     11|      11|170684|     900|     0.2|150000|2019-02-20|Zuschuss Donatelli|     Technology| Accessories|Imation 8GB Mini ...|      Fremont|      Nebraska|153615600|153465600|
|FUR-BO-10004834|   KB-16585|CA-2016-137330|     12|      12|911424|     410|     0.2|908500|2018-12-09|         Ken Black|      Furniture|   Bookcases|Riverside Palais ...| Philadelphia|  Pennsylvania|373683840|372775340|
|FUR-FU-10004848|   SF-20065|US-2016-137330|     13|      13|155520|     305|     0.2|140000|2017-12-20|   Sandra Flanagan|      Furniture| Furnishings|"Howard Miller 13...|         Orem|          Utah| 47433600| 47293600|
|OFF-EN-10001509|   EB-13870|US-2017-156909|     14|      14|407976|     310|     0.2|400976|2018-07-16|       Emily Burns|Office Supplies|   Envelopes|Poly String Tie E...|  Los Angeles|    California|126472560|126071584|
|OFF-AR-10004042|    RV-8346|CA-2015-106320|     15|      15|688100|     540|     0.8|680100|2019-04-25|        Matt Damon|Office Supplies|         Art|BOSTON Model 1800...| Philadelphia|  Pennsylvania|371574000|370893900|
+---------------+-----------+--------------+-------+--------+------+--------+--------+------+----------+------------------+---------------+------------+--------------------+-------------+--------------+---------+---------+

+------------+------------+-------------+----------+---------+---------------+-----------+
|        City|       State|sum(Quantity)|sum(Sales)|sum(Cost)|count(Category)|avg(Profit)|
+------------+------------+-------------+----------+---------+---------------+-----------+
|     Fremont|    Nebraska|         2020|    400484|   367800|              2|  9.39786E7|
| Los Angeles|  California|         1121|    679728|   662976|              2|7.8258876E7|
|Philadelphia|Pennsylvania|          950|   1599524|  1588600|              2|3.7183462E8|
+------------+------------+-------------+----------+---------+---------------+-----------+

In [194]:
result2.createOrReplaceTempView("result2")

sqlQuery = """
  SELECT  City, State, 
          SUM(Quantity), SUM(Cost), 
          COUNT(DISTINCT Category) AS NumOfCategory,
          AVG(Quantity * Sales - Cost) AS AVGOfProfit
  FROM result2
  GROUP BY City, State
  HAVING COUNT(DISTINCT Category) >= 2
"""
result3 = spark.sql(sqlQuery)
result3.show()
result3.printSchema()

+------------+------------+-------------+---------+-------------+-----------+
|        City|       State|sum(Quantity)|sum(Cost)|NumOfCategory|AVGOfProfit|
+------------+------------+-------------+---------+-------------+-----------+
|     Fremont|    Nebraska|         2020|   367800|            2|  9.39786E7|
| Los Angeles|  California|         1121|   662976|            2|7.8258876E7|
|Philadelphia|Pennsylvania|          950|  1588600|            2|3.7183462E8|
+------------+------------+-------------+---------+-------------+-----------+

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- sum(Quantity): long (nullable = true)
 |-- sum(Cost): long (nullable = true)
 |-- NumOfCategory: long (nullable = false)
 |-- AVGOfProfit: double (nullable = true)